    <footer class="footer">
      <nav class="container">
        <a class="footer-logo" href="/">
          <img class="/" src="/img/logo/cdt-logo-b.svg" alt="{{site.data.global.sitename}}">
        </a>
        <ul class="footer-navigation">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#mentors">Mentors</a>
          </li>
          <li>
            <a href="#locations">Locations</a>
          </li>
          <li>
            <a href="#events">Events</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="#join">
              <strong>Attend a Session</strong>
            </a>
          </li>
        </ul>
      </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="/js/navigationScroll.js"></script>
  </body>

</html>
