    <div class="section-tertiary text-center contact-banner" id="contact">
      <a class="btn btn-light btn-lg btn-meetup" target="_blank" href="{{site.data.contact.meetup}}">
        Join & RSVP on
        <img class="btn-meetup-logo" src="/assets/img/logos/meetup.svg" alt="Meetup" />
      </a>
      <a class="btn btn-outline-light btn-lg" href="/become-a-sponsor/">Become a Sponsor</a>

      <br />

      <ul class="social-media-list">
        <li class="social-media-list-item">
          <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.meetup}}">
            <i class="fa fa-meetup"></i>
          </a>
        </li>
        <li class="social-media-list-item">
          <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.twitter}}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-media-list-item">
          <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.facebook}}">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-media-list-item">
          <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.linkedin}}">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="social-media-list-item">
          <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.github}}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="social-media-list-item">
          <a class="social-media-list-icon" href="mailto:{{site.data.contact.email}}">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>

    <footer class="footer">
      <nav class="container">
        <a class="footer-logo" href="/">
          <img class="/" src="/img/logo/cdt-logo-b.svg" alt="{{site.data.global.sitename}}">
        </a>
        <ul class="footer-navigation">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#mentors">Mentors</a>
          </li>
          <li>
            <a href="#locations">Locations</a>
          </li>
          <li>
            <a href="#events">Events</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="#join">
              <strong>Attend a Session</strong>
            </a>
          </li>
        </ul>
      </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="/js/navigationScroll.js"></script>
  </body>

</html>
