.locations-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locations-list .locations-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  background: $bootstrap-dark;
  margin: 0 2rem 2rem 2rem;
  color: $white;
  min-height: 20rem;
  padding: 2rem;
  position: relative;
}

.locations-list .locations-list-item * {
  position: relative;
}

.locations-list .locations-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(.3) grayscale(.25);
}

@media (min-width: #{map-get($breakpoints, lg)}) {
  .locations-list .locations-list-item {
    max-width: calc(50% - 4rem);
  }
}

.locations-list .location-name {
  font-weight: 200;
}

.locations-list .location-address {

}

.locations-list .locations-list-item.locations-redsson-25-huron::before {
  background: url('/img/locations/locations-redsson-25-huron.jpg') center center no-repeat;
  background-size: cover;
}
