.section-primary {
  padding: 5rem 0;
}

.section-secondary {
  padding: 5rem 0;
  background-color: $bootstrap-light;
}

.section-tertiary {
  padding: 5rem 0;
  color: $bootstrap-light;
  background: $bootstrap-dark;
}

.section-heading {
  margin-bottom: 2rem;
}

.section-introduction {
  margin: 0 auto;
  text-align: center;
  max-width: 28rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}
