---
title: "CoderDojo Toledo"
description: "CoderDojo is a global movement of free, volunteer-led, community-based programming and technology clubs for young people. At a dojo, young people between the ages 7 and 17 learn how to code, develop websites, apps, programs, and games. "
homepage: true
---
{% include header.html %}

<div class="section-primary" id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-6">
        <h3 class="section-heading">What is CoderDojo?</h3>
        <p>
          CoderDojo is a global movement of free, volunteer-led, community-based programming and technology clubs for
          young people. At a dojo, young people between the ages 7 and 17 learn how to code, develop
          websites, apps, programs, and games. We explore technology in an informal and creative environment under
          the guidance of local mentors and professionals.
        </p>
        <p>
          There are thousands of CoderDojos in cities all over the world, and we're here to serve Toledo in supporting
          the next generation of programmers and technologists. <a href="https://coderdojo.com/" target="_blank">Learn more about CoderDojo.</a>
          <br />
          <br />
          <a class="btn btn-dark" href="#attend">Attend a Session</a>&nbsp;&nbsp;
          <a class="btn btn-outline-dark" target="_blank" href="https://vimeo.com/62684914">Watch Video</a>
        </p>
      </div>
      <figure class="col-lg-5 col-md-6 image-frame">
        <a class="image-frame-image" target="_blank" href="/img/content/coderdojo-mosaic.jpg">
          <img class="img-fluid" src="/img/content/coderdojo-mosaic.jpg" alt="CoderDojo" />
        </a>
      </figure>
    </div>
  </div>
</div>

<div class="section-secondary" id="mentors">
  <div class="container">
    <h3 class="section-heading text-center">
      Our Mentors
    </h3>
    <p class="section-introduction">
      Here's our distinguished mentors who help by passing on their knowledge. Interested in mentoring?
      <a href="#contact">Get in touch</a>!
    </p>
    <ul class="mentor-list">
      {% for mentor in site.data.mentors %}
        <li class="mentor-list-item">
          <img class="mentor-image" src="/img/mentors/{{mentor.name | slugify}}.jpg" alt="{{mentor.name}}" />
          <h4 class="mentor-name">{{ mentor.name }}</h4>
          <p class="mentor-job">
            {{ mentor.title }} at {{ mentor.company }}
          </p>
          <ul class="mentor-social-list">
            {% for network in mentor.social %}
            <li class="mentor-social-item">
              <a class="fa fa-{{network[0]}}" target="_blank" href="{{network[1]}}"></a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section-primary text-center" id="locations">
  <div class="container">
    <h3 class="section-heading text-center">
      Locations
    </h3>
    <p class="section-introduction">
      CoderDojo Toledo has sessions every Saturday at Redsson's offices in downtown Toledo.
    </p>
    <ul class="locations-list">
      {% for location in site.data.locations %}
        <li class="locations-list-item locations-{{location.name | slugify}}">
          <h4 class="location-name">{{location.name}}</h4>
          <p class="location-address">{{location.address}}</p>
          <a class="btn btn-light" target="_blank" href="{{location.directions}}">
            Get Directions
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section-secondary text-center" id="faq">
  <div class="container">
    <h3 class="section-heading text-center">
      FAQ
    </h3>
    <p class="section-introduction">
      Answers to frequently asked questions by new parents and children attending CoderDojo.
    </p>
    <ul class="faq-list">
      {% for faq in site.data.faq %}
      <li class="faq-list-item">
        <h4 class="faq-list-question">{{faq.question}}</h4>
        <p class="faq-list-answer">{{faq.answer}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section-primary text-center" id="attend">
  <div class="container">
    <h3 class="section-heading text-center">
      Attend a Session
    </h3>
    <p class="section-introduction">
      Here are the upcoming sessions. No RSVP or registration necessary, just show up and we'll get you started!
    </p>
    <div class="row">
      {% for event in site.data.events %}
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="event-item event-{{event.location | slugify}}">
            <h4 class="event-name">{{event.name}}</h4>
            <p class="event-details">{{event.address}}, <time>{{event.time}}</time></p>
            <a class="btn btn-outline-light" target="_blank" href="{{event.more}}">More Info</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="btn btn-lg btn-outline-dark" target="_blank" href="http://toledotechevents.org/events/tag/coderdojo">See All Upcoming Events</a>
  </div>
</div>

<div class="section-tertiary text-center contact-banner" id="contact">
  <p><strong>Questions? Get in touch!</strong></p>
  <h2><a href="{{site.data.contact.email}}">{{site.data.contact.email | remove: "mailto:"}}</a></h2>
  <ul class="social-media-list">
    <li class="social-media-list-item">
      <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.twitter}}">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="social-media-list-item">
      <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.facebook}}">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="social-media-list-item">
      <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.github}}">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="social-media-list-item">
      <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.email}}">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
  </ul>
</div>

{% include footer.html %}
