.wow {
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.doge {
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.dogebody {
	background: url(http://i.imgur.com/ZwUg2sE.jpg) center center no-repeat;
}